/* Main container css */

.outer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.timeline-container {
  width: 100%;
  height: 10px;
 
  position: relative;
  margin-top: 10px;
}

.timeline-container button {
  padding: 15px 20px;
  margin-right: 10px;
  background: #f49a03e0;
  border: none;
  border-radius: 28px;
}
.timeline-container button:hover {
  background: #8989fb;
  cursor: pointer;
}


body {
  font-family: 'circular';
}

canvas.svg-preview-container {
  height: 500px;
}



.svg-container-for-timeline p {
  text-align: center;
}

.layersOuter button {
  background: #f57622;
  border: none;
  border-radius: 29px;
  padding: 18px !important;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
}


.layersOuter button:hover {
  background: #6a6ad6;
}
.layersOuter button:focus {
  background: #6a6ad6;
  color: white;
}

body {
  font-family: 'circular';
}
canvas{
  border: none!important;
}


.active {
  border: 1px solid green!important;
}
.add-and-delete-buttons {
  display: none;
}
.active .add-and-delete-buttons{
  display: block !important;
  border: 1px solid green;
}
.container{
  max-width: 1400px;
  margin: auto;
}

.svg-thumb-container svg{
  height: 100%;
  width: 100%;
}
.layers-container button {
  text-transform: capitalize;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  font-size: 15px;
}
.right-side-inner svg {
  height: 100%;
  width: 100%;
}

.play-and-pause-btn{
  font-size: 35px;
}

.layers-container > h1 {
  text-align: center;
}

.frame-container{
  display: flex;
  gap: 10px;
  /* grid-template-columns: 1fr 4fr 1fr; */
}
.right-side {
  width: 60%;
}
.layers-container ul li ul li button {
  color: #000!important;
}
.left-side {
  width: 20%;
}
.leayrs-container{
  width: 20%;
}
.layers-container ul li ul li {
  overflow: hidden;
}

  .main-heading {
    text-align: center;
  }

  .choose_file-container {
    margin-bottom:20px ;
    text-align: center;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }

  .svg-container-for-timeline svg {
    width: 200px;
  }
  .svg-container-for-timeline {
    display: flex;
    background-color: rgb(201 199 199);
    width: 95%;
    justify-content: center;
    padding: 20px;
  }

  .choose_file-container input[type="file"] {
    display: none;
  }
  .active{
    background-color: aliceblue;
  }

ul {
  list-style-type: none; 
  padding-left: 0;
}

li {
  margin-left: 0; 
}
.flip-context-menu.context-menu ul li {
  padding: 10px;
  cursor: pointer;
}
.animation-class{
  background-color: red !important;
}


@media only screen and (max-width: 768px) {
      .frame-container{
        flex-direction:column ;
      }
      .left-side{
        width: 100%;
      }
      .right-side{
        width: 100%;
      }
}
